.detail-container {
    display: flex;
    justify-content: center;
}

.pokemon-card {
    background: rgb(243, 204, 204);
    border-radius: 20px;
    max-width: 600px;
    padding: 30px;
}

.header {
    text-align: center;
}

.types {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.type-badge {
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    background-color:#58ca5b;
}

.main-info {
    align-items: center;
}

.ability-tag {
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 15px;
    background-color:#d53418;
}

.stat-row {
    display: grid;
    grid-template-columns: 100px 35px 60%;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.stat-bar-bg {
    background: #eee;
    height: 8px;
    border-radius: 4px;
}

.stat-bar-fill {
    background: #4caf50;
    height: 100%;
}

.back-btn {
    margin: 20px;
    padding: 10px 20px;
    background: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    &:hover { opacity: 0.8; }
}
